[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM-workspace/Megatron-LM
	url = ssh://git@gitlab-master.nvidia.com:12051/yifuw/megatron-lm.git
	branch = yifu/nano-v3-vl
	shallow = true
[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = ssh://git@gitlab-master.nvidia.com:12051/liding/Megatron-Bridge.git
	branch = yifu/nano-v3-vl
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = ssh://git@gitlab-master.nvidia.com:12051/jseppanen/Automodel.git
	branch = jseppanen/nano-v3-vl
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = https://github.com/NVIDIA-NeMo/Gym.git
	branch = main
	shallow = true
[submodule "3rdparty/vllm"]
	path = 3rdparty/vllm
	url = https://github.com/vllm-project/vllm.git
